<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /cms
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
  # If we don't have mod_rewrite installed, all 404's
  # can be sent to index.php, and everything works as normal.
  # Submitted by: ElliotHaughin

  ErrorDocument 404 /index.php
</IfModule>

# RewriteEngine on 
# RewriteBase /
# RewriteRule ^$ http://132.148.66.112/index.php [R=301,L]

# RewriteEngine on 
# RewriteBase /cms
# RewriteRule ^$ http://132.148.66.112/admin/index.php [R=301,L]
